/* In order of appearance */
  @page { margin: 0mm; size: A4 portrait; }
  *{margin: 0; padding: 0}
  body{color: DarkSlateGray; font-size: 16px; line-height: 140%; font-family: Georgia, serif;}
  a{color: inherit;}
  .page{}
  .column{background-color: none;}
  .leftcolumn{grid-column: 1/2}
  .rightcolumn{grid-column: 2/3;}
  .fullrows{grid-row: 1/4;}
  .bottomrow{grid-row: 3/4}
  header{position: relative; left:-10px; margin-bottom: 20px; font-family: monospace; line-height: 100%;}
  #nom{padding: 5px 10px; background-color: darkslategrey; color: ivory; }
  #date{font-size: 14px;}
  header p.small{font-size: 14px;}
  #fastedito{font-size: 1.1em; line-height: 130%; font-weight: 700;}
  h1, h2 {margin-bottom: 10px; padding-top: 10px; font-weight: normal; line-height: 100%; }
  h1{font-size: 2.2em; }
  #desc{margin: 20px auto; padding: 10px 0; font-size: 1.4em; line-height: 100%; border-top: 1px solid DarkSlateGray; border-bottom: 1px solid DarkSlateGray;}
  p{margin-bottom: 10px;}
  .big{font-size: 30px; line-height: 120%; font-weight: normal;}
  .small{font-size: 14px; font-weight: normal;}
  sup, sub{line-height: 100%; font-size: 16px;}
  ul, ol{line-height: 100%;}
  ul li{list-style-type: none;}
  hr{margin: 5mm 0; border-width:0; color:DarkSlateGray; background-color: DarkSlateGray;}
  hr.light{height:1px; }
  hr.bold{height:5px; }
  h2{font-size: 1.6em;}
  .good{color:green;}
  .bad{color:crimson;}
  table{margin: 20px auto; font-size: 75%; line-height: 120%; font-family: sans-serif;}
  table caption{margin-bottom: 10px; font-weight: bold;}
  td{padding: 0 5px; border-bottom: 1px dotted DarkSlateGray;}
  ol{padding-left:14px; }
  ol li {margin-bottom: 5px;}
  #slack h3{margin-bottom: 0px; font-size: 95%; }
  #slack p{margin-bottom: 0px; font-size: 80%; line-height: 140%;}
  #slack p sup{font-size: 90%; line-height: 100%;}
  #slack p.post{text-indent: 50px;}
  .ours{font-family: monospace; font-size: smaller; line-height: 130%;}
  .ours ul li{margin-bottom: 5px; line-height: 140%; font-size: smaller; }
/* MEDIA QUERIES */
  @media only screen and (max-width: 200mm) {
    .page{margin: 0 auto; padding: 10px; }
  }
  @media print, screen and (min-width: 210mm) {
    .page{margin: 0 auto; padding: 10mm; width: 210mm; height: 297mm; overflow: hidden; page-break-after: always;
    display: grid; gap: 1mm 5mm;  align-items: start;}
    #page1{grid-template-columns: 320px auto;}
    #page2{grid-template-columns: auto 320px;}
  }
